Checks:
  modernize-deprecated-headers
  moderinze-use-emplace
  modernize-make-unique
  modernize-make-shared
  modernize-use-auto
  modernize-unary-static-assert
  modernize-use-bool-literals
  modernize-use-equals-default
  bugprone-*
  cppcoreguidelines-no-malloc
  cppcoreguidelines-interfaces-global-init
  google-runtime-int
  google-global-names-in-headers
  google-readability-casting
  fuchsia-virtual-inheritance
  performance-for-range-copy
  performance-inefficient-algorithm
  performance-unnecessary-copy-initialization
  readability-container-size-empty
  readability-delete-null-pointer
  readability-deleted-default
  readability-else-after-return
  readability-avoid-const-params-in-decls
  readability-static-definition-in-anonymous-namespace
  readability-braces-around-statements